# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Stackdumps
*.stackdump

#latex helpers
*.log
*.toc
*.aux
*.blg
*.bbl
*.glo
*.out